<div class="stream-bar">
	<div class="back-button fa fa-chevron-left" onclick="loadView('connections','/connections')"></div>
	<div class="avatar" style="background-image: url({% if stream.data.avatarSrc %}{{ stream.data.avatarSrc }}{% else %}/img/default-avatar.png{% endif %})"></div>
	<div class="user-details">
	<h3>{{ stream.data.displayName }}</h3>
	<p class="gray status">@{{ stream.data.name }}</p>
	</div>
</div>

<div class="posts">

{% for post in stream.data.posts|reverse %}

	<div class="post wrap">

	{% for message in post.message %}

		{% if message.type == 'text' %}
			<div class="text message">{{ message.text }}</div>

	    {% elif message.type == 'link' %}
	    	<div class="link message">
	    		<p><a href="{{ message.url }}">{{ message.title }}</a></p>
	    		<p class="gray status">{{ message.description }}</p>
	    	</div>

		{% elif message.type == 'image' %}
			<img class="image message" src="{{ message.src }}"/>

	    {% elif message.type == 'gif' %}
	    	<img class="gif message" src="{{ message.src }}"/>

	    {% elif message.type == 'video' %}

	    	{% if message.subtype == 'looping photo' %}
	    	<video class="looping-photo message" poster="{{ message.posterSrc }}" autoplay muted loop>
	    		<source src="{{ message.src }}" type="video/mp4">
	    	</video>	    	

	    	{% else %}
	    	<video class="video message" poster="{{ message.posterSrc }}" onclick="this.paused?this.play():this.pause();">
	    		<source src="{{ message.src }}" type="video/mp4">
	    	</video>
	    	{% endif %}

		{% endif %}

	{% endfor %}

		<div class="gray meta">
			<i class="like-button fa fa-heart-o{% if post.likedByMe == true %} liked{% endif %}" data-postid="{{ post.id }}" data-likes="{{ post.likeCount }}">{% if post.likeCount > 0 %} {{ post.likeCount }}{% endif %}</i>
			<i class="comment-button fa fa-comment-o" data-postid="{{ post.id }}">{% if post.commentCount %} {{ post.commentCount }}{% endif %}</i> 
			<p> – {{ post.createdTime|fromNow }}</p>
		</div>

		<div class="comments" data-postid="{{ post.id }}">
			<div class="close"></div>
			<div class="comment-bar">Comments</div>
			{% for comment in post.comments %}
			<div class="comment">
			<div class="small-avatar" style="background-image: url({% if comment.author.avatarSrc %}{{ comment.author.avatarSrc }}{% else %}/img/default-avatar.png{% endif %})"></div>
			<div class="comment-body">
				{{ comment.author.displayName }} 
				<span class="gray">@{{ comment.author.name }}</span>
				<p>{{ comment.body }}</p>
			</div>
			</div>
			{% endfor %}
		</div>

	</div>

	<hr>

{% endfor %}

</div>

<script>

// Like or unlike a post
$('.like-button').on('click', function(){

	var post = $(this);

	// Post is not yet liked, like it
	if (!post.hasClass('liked')) {

	  $.ajax({
	  type: 'POST',
	  url: 'http://localhost:1134/api/like',
	  headers: { Authorization: 'Bearer ' + localStorage.token },
	  data: JSON.stringify({postId: post.data('postid')}),
	  contentType: 'application/json',
	  success: function(data){
	  	likes = parseInt(post.data('likes')) + 1;
		post.text(' ' + likes).data('likes',likes).addClass('liked');
	  },
	  error: function(xhr, type){ alert('TBD: Load failed'); }
	  });
		
	}

	// Post is already liked, unlike it
	else {
	  $.ajax({
	  type: 'DELETE',
	  url: 'http://localhost:1134/api/like/postID/' + post.data('postid'),
	  headers: { Authorization: 'Bearer ' + localStorage.token },
	  success: function(data){
	    likes = parseInt(post.data('likes')) - 1;
	  	post.removeClass('liked').data('likes', likes);
		if (likes < 1) { post.text('')} 
			else { post.text(' ' + likes) }
	  },
	  error: function(xhr, type){ alert('TBD: Load failed'); }
	  });
	}

});

// View comments
$('.comment-button').on('click', function() {
	var post = $(this);
	$('body').addClass('modal-open');
	$('#overlay').show();
    $('.comments[data-postid="' + post.data('postid') + '"]').show();
});

// Close comments
$('.close').on('click', function() {
	$('.comments').hide();
	$('#overlay').hide();
	$('body').removeClass('modal-open');
});

// Mark stream as read once loaded
	$.ajax({
	type: 'PUT',
	url: 'http://localhost:1134/api/stream/id/{{ stream.data.id }}/read',
	headers: { Authorization: 'Bearer ' + localStorage.token },
	success: function(data){},
	error: function(xhr, type){}
	});

</script>
